# =========================
# .NET Ignored Files
# =========================

# Build results
**/bin/
**/obj/
**/*.user
**/*.rsuser
**/*.suo
**/*.cache
**/*.pdb
**/*.ilk
**/*.log
**/*.vspscc

# Rider IDE files
.idea/

# .NET Core / ASP.NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Azure Functions local settings file
local.settings.json

# =========================
# Angular / Node.js Files
# =========================

# Node module
/StockMarketAppFrontend/StockMarketApp.spa/node_modules/
**/node_modules/

# Angular build output
/StockMarketAppFrontend/StockMarketApp.spa/dist/
/StockMarketAppFrontend/sStockMarketApp.spa/out-tsc/

# Environment files (optional if you want to keep them private)
StockMarketAppFrontend/StockMarketApp.spa/src/environments/*.ts

# =========================
# IDE and Editor Files
# =========================

# VS Code settings folder
.vscode/

# JetBrains Rider
.idea/

# =========================
# OS Files
# =========================

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# =========================
# Others
# =========================

# Log files
*.log

# NuGet packages
*.nupkg
*.snupkg
packages/

# Publish output folder
publish/
/.vs
/StockMarketApp/.vs/StockMarketApp
/StockMarketApp/.vs/ProjectEvaluation
/StockMarketApp/StockMarketApp.APIWorker/Properties/PublishProfiles/stockmarketapp-apiworker.pubxml
